* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Questrial', 'Raleway', sans-serif;
    font-size: 17px;
    background: rgb(156, 147, 167);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-top: 20px;
    display: flex;
    width: 630px;
    height: 840px;
    border: solid gray 1px;
}

/*left side*/

.left-column {
    width: 40%;
    background: #99d6e5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.explanation {
    font-size: 55px;
    color: rgb(128, 1, 71);
    margin-left: 15px;
}

.image img {
    margin: 20px;
    width: 210px;
    box-shadow: 10px 15px 15px rgb(34, 34, 34);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.contacts, .skills {
    font-size: 15px;
    padding: 10px 20px;
}

.sites {
    list-style: none;
}

.sites a{
    text-decoration: none;
    color: rgb(128, 1, 71);
}

.skills-list {
    padding-left: 20px;
}

/*right side*/

.right-column {
    border-left: dotted white 30px;
    width: 60%;
    background: #e0e0e0;
}

.about-me {
    margin: 35px;
}

.about-me a {
    text-decoration: underline;
    color: rgb(128, 1, 71);
}

.about-me a:hover {
    text-decoration: none;
    color: rgb(26, 26, 26);
    
}

h1 {
    font-size: 30px;
    color: rgb(128, 1, 71);
    margin-bottom: 15px;
}

h2 {
    line-height: 60px;
}

/*footer*/

.footer {
    background-color:rgb(128, 1, 71);
    height: 50px;
    width: 630px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 15px;
}

.github {
    text-decoration: none;
    color: #e0e0e0;
}

.github:hover {
    text-decoration: underline;
    color: rgb(26, 26, 26);
}

.year {
    color:#e0e0e0 
}