* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: 'Questrial', 'Raleway', sans-serif;
    font-size: 36px;
    background: rgb(156, 147, 167);
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    list-style: none;
    text-decoration: none;
    transition: 0.5s;
}

.nav-list,
.footer {
    background-color: rgb(128, 1, 71);
    height: 120px;
    width: 1500px;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    list-style: none;
    color: #e0e0e0;
    ;
}

.nav-item a {
    color: #e0e0e0;
}

.nav-item a:hover,
.github:hover {
    color: rgb(26, 26, 26);
}

.container {
    display: flex;
    max-width: 1500px;
    min-width: 320px;
}

/*left side*/

.left-column {
    padding: 60px;
    width: 40%;
    background: #99d6e5;
    display: flex;
    flex-direction: column;
}

.explanation {
    font-size: 115px;
    color: rgb(128, 1, 71);
    padding: 40px 0px;
}

.image img {
    width: 100%;
    object-fit: cover;
    box-shadow: 10px 15px 15px rgb(34, 34, 34);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.contacts,
.skills {
    padding: 20px 0px;
}

.sites {
    list-style: none;
}

.sites a {
    text-decoration: none;
    color: rgb(128, 1, 71);
}

.skills-list {
    padding-left: 40px;
}

/*right side*/

.right-column {
    border-left: dotted white 75px;
    width: 60%;
    background: #e0e0e0;
    padding: 15px 60px;
}

.personal-info a {
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.personal-info a:hover {
    color: rgb(128, 1, 71);
    text-decoration: underline;
}

h1 {
    font-size: 58px;
    color: rgb(128, 1, 71);
    padding: 35px 0px;
}

.code {
    font-size: 20px;
}

/*footer*/

.github,
.year {
    color: #e0e0e0
}